name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@main
    - name: Test
      run: cargo test
